<%= simple_form_for(@pic_story) do |f| %>
  <%= f.error_notification %>

  
    <%= f.input :Story, as: :text, input_html: { rows: "15"} %>


  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary"%>
  </div>
<% end %>
