 <tr>
    <td><%= pic_story.Story %></td>
    <td><%= link_to 'Show', pic_story %></td>
    <td><%= link_to 'Edit', edit_pic_story_path(pic_story) %></td>
    <td><%= link_to 'Destroy', pic_story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>