<div class="row">
	<div class="span6 offset3">
	<div class ="well">
<p>
  <b>Story:</b>

  <%= @pic_story.Story %>
   </p>
   <p>
   	<%= @pic_story.user.name%>
   </p>
   <% if current_user == @pic_story.user %>
  <%= link_to 'Edit', edit_pic_story_path(@pic_story) %> |
  <% end %>
  <%= link_to 'Back', pic_stories_path %>

	</div>
	</div>
</div>


